<div class="reqform"><h1>Request Details</h1></div>
<div>
    <div class="row">
        <div class="col-sm-8">
            <form class = "form" [formGroup]="fund">
                <!-- <h2 class="name">Title</h2> -->
                <input formControlName="title" class="Title" type="text" placeholder="Title" required>
        
                <!-- <h2 class="name">Amount</h2> -->
                <input formControlName="amount" class="amount" type="number" placeholder="Enter the Amount" required>
                
                <!-- <h2 class="name">Description</h2> -->
                <input formControlName="description" class="desc" type="text" placeholder="Description" required>
            </form>
        </div>

        <div class="col-sm-4">
            <div class="box">
                <form class = "form" [formGroup]="fund">
                    <input formControlName="image" class="image" type="number" placeholder="Add Feature Image" required><br>

                    <!-- <h2 class="name">Days Limit</h2> -->
                    <input formControlName="days" class="dlimit" type="number" placeholder="Days Limit (Optional)" required><br>
         
                    <!-- <h2 class="name">Phone</h2> -->
                    <input formControlName="number" class="number "type="number" placeholder="Number" required>
        
                    <!-- <h2 class="name">Address</h2> -->
                    <input formControlName="address" class="address" type="text" placeholder="Address" required>
        
                    <!-- <h2 class="name">Reference Id</h2> -->
                    <input formControlName="refId" class="ID" type="number" placeholder="Reference ID" required>
                    <div class="d-flex center">
                        <button type="button" class="btn btn-success btn-lg center" (click)="submit()" style="column-span: all;">
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>    
</div>


