<nav>
  <div class="topnav container-fluid">
    <a class="navbar-brand" routerLink="/home">
      <img src="/assets/pngwing.com.png" alt="" width="30" height="30">
    </a>
    <a class="active" routerLink="/fundme" href="#">FUND ME</a>
    <a href="#" routerLink="/fundraisers">Find Fund Raisers</a>
    <div class="topnav-right">
      <a href="#" routerLink="/signup">Signup</a>
      <a href="#" routerLink="/login">Login</a>
      <a class="active" routerLink="/donatenow" href="#">Donate Now</a>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>


<footer class="row row-cols-5 py-5 my-5 border-top">
    <div class="col" style="margin-bottom: -80px;">
      <!-- <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      </a> -->
      <img style="margin-top: -5px; margin-bottom: 20 px; margin-left: 80px;" src="/assets/pngwing.com.png" width="50px"><br><br>
      <p style="margin-top: -20px; margin-left: 80px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><br>
      <p class="text-muted" style="margin-left: 70px;">© Copyright 2021 Logo</p>
    </div>

    <div class="col">

    </div>

    <div class="col">
      <h5 style="color: gray;">Services</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Email Marketing</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Campaigns</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Branding</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Offline</a></li>
      </ul>
    </div>

    <div class="col">
      <h5 style="color: gray;">About</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Our Story</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Benefits</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Team</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Careers</a></li>
      </ul>
    </div>

    <div class="col">
      <h5 style="color: gray;">Follow Us</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li class="nav-item mb-2"><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li class="nav-item mb-2"><a href="#"><i class="fa fa-instagram"></i></a></li>
      </ul>
    </div>
</footer>



