<div class="donateform"><h1>Donation Details</h1></div>
<div class="row">
    <div class="col-sm-4">
        <div class="card">
            <img src="/assets/WhatsApp Image 2021-10-25 at 12.17.56 AM.jpeg" alt="John" style="width:100%">
            <h1>John Doe</h1>
            <p class="title">CEO & Founder, Example</p>
            <p>Harvard University</p>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
            <p><button>Contact</button></p>
          </div>
    </div>

    <div class="col-sm-8" >
        <div class="container">
            <h1 class="title">Donate to Title</h1>
            <h5 class="title2">and we'll send you updates</h5>
        </div>
        
        <div class="container">
            <input class="Email" type="email" placeholder="Email" required>
            <input class="Password" type="password" placeholder="Password" required>
        </div>
        <div class="container">
            <p class="reg">Done have an account? <a routerLink="/signup">Register Here!</a></p>
        </div>
        <div class="container">
           <a class="pay" routerLink="/jazzcash">JazzCash</a>
        </div>
     </div>
</div>    
